# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# ChromaDB
chroma_db/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/

# Build Files
build/
dist/
*.egg-info/